<ion-view>
    <ion-content class="has-footer main">
        <div class="snack4me-login-logo">
          <img src="img/ui/logo.svg" style="width: 60%;" />
        </div>

        <form class="userForm padding" name="userForm" novalidate>
            <div class="div-transparency">
              <label class="item-input label-transparency" ng-class="{'has-error': userForm.$submitted && userForm['formData.name'].$error}">
                  <span class="input-label input-login">E-mail</span>
                  <input type="text" name="name" ng-model="formData.name" required>
              </label>
              <p class="input-item-error" ng-show="userForm.$submitted && userForm['formData.name'].$error.$invalid">{{ 'REQUIRE_NAME' | translate }}</p>
            </div>

            <div class="div-transparency">
              <label class="item-input" ng-class="{'has-error': userForm.$submitted && userForm['formData.password'].$error}">
                  <span class="input-label input-login">{{ 'PASSWORD' | translate }}</span>
                  <input type="password" name="password" ng-model="formData.password" required>
              </label>
              <p class="input-item-error" ng-show="userForm.$submitted && userForm['formData.password'].$error.$invalid">{{ 'REQUIRE_PASSWORD' | translate }}</p>
            </div>

            <button class="button button-block button-assertive snack4me" ng-click="login()">Login</button>
        </form>

        <h4 class="divider_login">Or</h4>

        <div class="list list-inset list-button">
            <button class="button button-block icon-left ion-social-facebook button-positive" ng-click="loginFacebook()">{{ 'BUTTON_FACEBOOK' | translate }}</button>
            <button class="button button-block icon-left ion-social-googleplus button-assertive" ng-click="loginGoogle()">{{ 'BUTTON_GOOLE' | translate }}</button>

            {{ facebook }}

            {{ errorfb }}
        </div>

        <p style="margin: 10px; text-align: center;color: white; font-size: 15px;margin-top: -25px;">{{ 'QUESTION_ACCOUNT' | translate }} <a href="" ng-click="signUp()" class="form-links register">{{ 'SIGUP_ACCOUNT' | translate }}</a></p>

    </ion-content>
    <ion-footer-bar class="bar-light" style="text-align: center; color: white; font-size: 12px;">
        <span style="text-align: center; width: 100%; padding-top: 10px;">
            Clyck® &nbsp;<a href ng-click="termsUse()" class="form-links register" style="font-size: 12px;">{{ 'USE' | translate }}</a>
        </span>
    </ion-footer-bar>
</ion-view>
